:host {
  display: flex;
  justify-content: center;
  min-width: 320px;
  width: 100%;
}

mat-card {
  border-radius: 0;
  width: 100%;

  @media (min-width: 992px) {
    width: 60%;
  }
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

mat-form-field {
  width: 100%;
}

button {
  border-radius: 0;
}

mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 0.75rem !important;
}
